.btn-fixed {
	position: fixed;
	right: 2.5%;
	z-index: $zindex-fixed;
}
.rounded-circle--dropdown {
	.btn {
		background-color: $blue-play;
		border-radius: 50% !important;
		border: none;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-shrink: 0;
	    box-sizing: content-box;
	    width: 40px;
	    height: 50px;
	    box-shadow: 0 0 20px -3px rgba(0,0,0,.45), 0 8px 6px -6px rgba(0,0,0,.8);
	    user-select: none;
	    transition: all 0.5s ease;
	    animation: fadein 2.5s;
	    margin: 2px;
	    &:focus,&:hover {
	    	background-color: $red-cord;
	    }
		@keyframes fadein {
		    from { opacity: 0; }
		    to   { opacity: 1; }
		}
	}
	i {
	    filter: drop-shadow(0 2px 2px rgba(0,0,0,.4));
	}
}