.carousel-play {
	min-height: 60vh;
	.carousel-indicators {
		top:30px;
	}
	.carousel-item {
		.carousel-caption {
			left: 15%;
			right: 15%;
			top: 10%;
			text-align: left;
			display: block !important;
			h3 {
				font-size: $xlarge;
				font-weight: bold;
				margin-bottom: 5px;
			}
			p {
				display: inline;
				font-size: $large;
			}
		}
	}
}
.u-Relative {
	position: relative;
}
.flutuante {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 80px;
	@extend %caption-gradient;
}
.img-absolute {
	position: absolute;
	right:0;
	bottom:0;
}
.img-size-src2 {
	width: 90vh;
}
.img-size-src {
	width: 100%;
	object-fit: cover;
	max-height: 60vh;
}
@include media-breakpoint-down(md) { 
	.carousel-play {
		min-height: 50vh;
		.carousel-item {
			.carousel-caption {
				left: 5%;
				right: 5%;
				h3 {
					font-size: $middle;
					display: inline;
					margin-right: 5px;
				}
				p {
					font-size: $middle;	
					display: inline;
				}
			}
		}
	}
	.img-size-src {
		width: 1800px;
		max-height: 50vh;
	}
	.img-size-src2 {
		width: 60vh;
	}
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

