.carousel-play {
	.carousel-indicators {
		top:30px;
	}
	.carousel-item {
		.carousel-caption {
			left: 15%;
			right: 15%;
			top: 10%;
			text-align: left;
			h3 {
				font-size: $xlarge;
			}
			p {
				display: inline;
			}
		}
	}
}
.u-Relative {
	position: relative;
}
.flutuante {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 80px;
	@extend %caption-gradient;
}
.img-absolute {
	position: absolute;
	right:0;
	bottom:0;
}
.img-size {
	width: 500px;
}