.card-overley {
	position: relative;
	height: 100%;
	background-color: none !important;

	.top {
		@extend %card-default;
		top: 25%;
	}
	.middle {
		@extend %card-default;
		top: 50%;
	}
	.overley {
		
	}
	&:hover .overley {
		transition: .5s ease;
		background-color: $white !important;
		color: #666;
	}
	.cardCircle {
		border-radius: 50%;
	}
 	img {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}
	&:hover img {
		opacity: 0.3;
	}
	&:hover .top, &:hover .middle {
		opacity: 1;
	}
}
