.card-overley {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	.card {
		height: 100%;
	}
	.hoverplay {
		@extend %hover-default;
	}
	.top {
		top: 25%;
	}
	.middle {
		top: 50%;
	}
	.hover {
	}
	&:hover .hover {
		transition: .5s ease;
		background-color: $white !important;
		color: #666;
	}
	.card-circle {
		border-radius: 50%;
	}
 	img {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}
  &:hover {
    text-decoration: none;
  }
	&:hover img {
		opacity: 0.3;
	}
	&:hover .hoverplay {
		opacity: 1;
	}
}
.cardimg-triple {
	height: 180px;
	img {
		object-fit: cover;
		height: 100%;
		padding-left: 0.5px;
		padding-right: 0.5px;
	}
}
.cardimg-title {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.img-saturate {
	filter: saturate(0);
}