.search-sty {
	position: relative;
	color: $white;
	input {
		outline: none;

	}
	input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	background-color: transparent;
	width: 15px;
	cursor: pointer;
	transition: all .5s;
	border-radius: none;
	border-color: $black;
  	font-family: FontAwesome; 
		&:focus {
			width: 160px;
			font-family: inherit;
			background-color: $gray-basic;
			box-shadow: none;
			color: $white;
			cursor: inherit;
			&::placeholder {
				color:transparent;
			}
		}
		&::placeholder {
			color:$white;
		}
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none;
	}
}
@include media-breakpoint-down(sm) {
	.search-sty {
		input[type='search'] {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 6px;
			margin-right: 6px;
			&:focus {
				width:100%;
			}
		}
	}
}