.search-sty {
	position: relative;
	color: $cut;
	input {
		outline: none;

	}
	input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	background-color: transparent;
	width: 60px;
	transition: all .5s;
	border-radius: none;
	border-color: $black;
  font-family: FontAwesome;
		&:focus {
			width: 130px;
			background-color: $gray-basic;
			box-shadow: none;
			color: $cut;
		}
		&::placeholder {
			color:$cut;
		}

	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none;
	}
}
