.navbar-play {
  padding: 0;
  .navbar-nav {
    .nav-link {
      color: $cut;
      padding-bottom: 1rem;
      padding-top: 1rem;
      &:hover,
      &:focus {
        color:$white;
      }
    }
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $white;
      position: relative;
      font-weight: bold;
      &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left:0;
        background-color: $blue-play;
      }
    }
  }
  .navbar-text {
  }
}
