.share {
	display: inline;
	.dropup, .dropdown {
	    display: inline;
	}
	.show > .dropdown-menu {
		opacity:1;
	
	}
	.dropdown-menu {
		transition: all 200ms ease-in-out;
		opacity:0;
		background-color: $gray-fox;
		padding:0;
	}
	.dropdown-item {
		padding: 3px 6px;
		color:$white;
		a {
			color:$white;
			display: block;
			padding: 3px 6px;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover, &:focus {
			background-color: $gray-basic;
			color: $blue-play;
			a {
				color: $blue-play;
			}
		}
	}
	.dropdown-item:not(:last-child) {
		border-bottom: 1px dotted $gray-basic;
	}
}