.superless {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
.width30 {
  max-width: 30%;
  float: left;
}

.menuStick.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  transform: translateZ(0px);
}

.menuStick.sticky + .container {
  padding-top: 69px;
}

.menuStick-link.active {
  a {
    color: #fff;
  }
}