%hover-default {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 50%;
}
%caption-gradient {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.65) 100%);
}
%active {
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  @extend %fadein;
  bottom: 0;
  left:0;
  background-color: $blue-play;
}
%fadein {
  animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
