// SYSTEM COLORS
.negative {color: $negative;}
.black {color: $black;}
.gray-dark {color: $gray-dark;}
.gray-fox {color: $gray-fox;}
.gray-basic {color: $gray-basic;}
.cut {color: $cut;}
.white {color: $white;}
.blue-play {color: $blue-play;}
.red-cord {color: $red-cord;}
.shadow {text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}

.bg-negative {background-color: $negative;}
.bg-black {background-color: $black;}
.bg-gray-dark {background-color: $gray-dark;}
.bg-gray-fox {background-color: $gray-fox;}
.bg-gray-basic {background-color: $gray-basic;}
.bg-cut {background-color: $cut;}
.bg-white {background-color: $white;}
.bg-blue-play {background-color: $blue-play;}
.bg-red-cord {background-color: $red-cord;}
.bg-gradient {@extend %caption-gradient;}
// SYSTEM SIZE

.size--xlarge {font-size: $xlarge}
.size--large {font-size: $large}
.size--medium {font-size: $medium}
.size--middle {font-size: $middle}
.size--regular {font-size: $regular}
.size--small {font-size: $small}
.size--milli {font-size: $milli}
// SYSTEM LINK

.link--cut {
	color: $cut;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $white;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--dark {
	color: $gray-fox;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $blue-play;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--blueplay {
	color: $blue-play;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $red-cord;
		border: none;
		outline: none;
		text-decoration: none;
	}
}

// SYSTEM Z-INDEX
.zindex-fixed {
	z-index: $zindex-fixed;
}
.dvoqQu {
  > div {
    width: 100%;
    align-items: flex-end;
    display: flex;
  }
  .bg-gradient {
    width: 100%;
  }
}
