// VARIABLES THEMA SYSTEM COLORS
$negative: #000;
$black: #1B1B1B;
$gray-dark: #2A2829;
$gray-fox: #313131;
$gray-basic: #434343;
$cut: #CCC;
$white: #FFF;
$blue-play: #0095DA;
$red-cord: #EB5757;

// VARIABLES THEMA TYPOGRAPHY

$fontFamily: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$xlarge: 60px;
$large: 48px;
$medium: 36px;
$middle: 18px;
$regular: 14px;
$small: 12px;
$milli: 8px;

// TRANSITION
$linktransition: color 0.15s linear;
