// SYSTEM COLORS 
.negative {color: $negative;}
.black {color: $black;}
.gray-dark {color: $gray-dark;}
.gray-fox {color: $gray-fox;}
.gray-basic {color: $gray-basic;}
.cut {color: $cut;}
.white {color: $white;}
.blue-play {color: $blue-play;}
.red-cord {color: $red-cord;}

.bg-negative {background-color: $negative;}
.bg-black {background-color: $black;}
.bg-gray-dark {background-color: $gray-dark;}
.bg-gray-fox {background-color: $gray-fox;}
.bg-gray-basic {background-color: $gray-basic;}
.bg-cut {background-color: $cut;}
.bg-white {background-color: $white;}
.bg-blue-play {background-color: $blue-play;}
.bg-red-cord {background-color: $red-cord;}

// SYSTEM TYPOGRAPHY

.size--large {font-size: $large}
.size--medium {font-size: $medium}
.size--middle {font-size: $middle}
.size--regular {font-size: $regular}
.size--small {font-size: $small}
.size--milli {font-size: $milli}

