// VARIABLES THEMA SYSTEM COLORS

$black: #1B1B1B;
$gray-dark: #2A2829;
$gray-fox: #313131;
$gray-basic: #434343;
$cut: #CCC;
$white: #FFF;
$blue-play: #0095DA;
$red-cord: #EB5757;

// VARIABLES THEMA TYPOGRAPHY

$fontFamily: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$headline-large: 72pt;
$headline-regular: 36pt;
$title: 18pt;
$subheader: 14pt;
$body-menu: 14pt;
$caption: 14pt;
$body: 12pt;
$menu-moblie: 8pt;

